.rest-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.rest-card {
  width:300px;
  margin: 1em;
  background-color: whitesmoke;
  color: #303030;
  border-radius: 10px;
  border: 2px solid #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rest-card img {
  width: 280px;
  margin:10px;
  border-radius: 6px;
}
